<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>TRIÁNGULO</h1>
  <p>Vamos a calcular el área y el perímetro de un triángulo</p>
  <form action="../Controller/trianguloController.php" method="GET">
    <label for="base">Base:</label><br>
    <input type="number" id="base" name="base" value=""><br>
    <label for="altura">Altura:</label><br>
    <input type="number" id="altura" name="altura" value=""><br><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>


